body, html {
	width: 100%;
	height: 100%;
	font-family: 'Raleway', sans-serif;
}

/*-----CHARACTER STYLING-----*/
.characterBlock {
	display: inline-block;
}

.characterBlock h1 {
	text-align: center;
	font-size:2em;
}

.characterBlock img {
	width: 215px;
}

.characterBlock h2 {


}
/*-----HEADER SECTION-----*/
#header {
	width: 100%;
	text-align: center;

}

#header > .container {
	width: 70%;
	margin: 0 auto;
}

/*-----ENVIRONMENT SECTION*/
#environment {
	width: 1200px;
	margin:0 auto;
	min-height: 675px;
	height: auto;
	background-image: url('../images/battlePlatform.png');
	background-position: left top;
	background-repeat:no-repeat;
    background-size:1200px 675px;
    position: relative;
}

#main {
	width: 100%;
}

.character {
	color: white;
	display: inline-block;
	position: absolute;
	text-align: center;
	border:5px solid black;
	border-radius: 25px;
	overflow: hidden;
}

.character h1 {
	float: left;

}

.character h2 {
	float: right;
	margin-left: 10px;
}

.character img {
	width: 130px;
}

#player	{
	border-color: rgba(0,155,0,.6);
	background-color: none;
	top: 117px;
	left: 170px;
	transition: background-color .7s;
}

#player:hover {
	background-color: rgba(0,155,0,.6);
}

#player .headBar {
	background-color: rgba(0,155,0,.6);
	padding: 5px 15px;
}

.enemy {
	border-color: rgba(255,100,0,.6);
	background-color: none;
	transition: .7s;
}

.enemy:hover {
	background-color: rgba(255,100,0,.6);
}

.enemy .headBar {
	background-color: rgba(255,100,0,.6);
	padding: 5px 15px;
}

.defender {
	border-color: rgba(155,0,0,.6);
	background-color: none;
	overflow: visible;
	transition: .7s;
}

.defender:hover {
	background-color: rgba(155,0,0,.6);
}

.defender .headBar {
	background-color: rgba(155,0,0,.6);
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	padding: 5px 15px;
}

.attack-button {
	position: absolute;
	font-size: 1em;
	bottom:0px;
	left:0px;
	border-radius: 20px;
	padding:5px 10px;
	color: white;
	border: none;
	background-color: rgba(155,10,0,.9);
}

#num0 {
	top: 117px;
	left: 900px;	
}

 #num1 {
 	top:330px;
 	left: 650px;
}

#num1 img{
	width: 90px;
}

#num2 {
	top:300px;
	left: 350px;
}

#num2 img {
	width: 165px;
}

.clearfix {
	clear: both;
}





